body {
	font-family: 'Raleway', sans-serif;
	background: url('images/ricepaper2.png');
}

.preview {
	width: 90%;
	display: block;
	margin: auto;
}

.mainArticle {
	box-shadow: 5px 5px 15px #888888;
	padding: 20px;
	display: none;
	line-height: 1.6;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	background-color: white;
}

.finishedReadingButton {
	font-family: 'Raleway', sans-serif;
	background-color: #efefef;
	width: 100px;
	height: 100px;
	color: black;
	border: none;
	border-radius: 50%;

}

#idea-prompt {
	font-size: 50px;
	text-align: center;
}

.choose {
	margin-top: 50px;
	margin-bottom: 50px;
}

.idea {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: none;
	margin: 5px;
}

#liberal {
	background-color: #0C1CBB;
	color: #FFFFFF;
	font-size: 30px;
}

#moderate {
	color: #FFFFFF;
	font-size: 30px;
}

#conservative {
	background-color: #E74C3C;
	color: #FFFFFF;
	font-size: 30px;
}

.button-container {
	text-align: center;
}

.statement {
	display: block;
	font-size: 16px;
	padding: 30px 0 0 4.25%;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.likert {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0 0 35px;
	display: block;
	font-family: 'Raleway', sans-serif;
}

form .likert:before {
	content: '';
	position: relative;
	top: 15px;
	left: 10%;
	display: block;
	background: #efefef;
	height: 4px;
	width: 78%;
}

.likert li {
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
}

.likert li input[type=radio] {
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -6px;
}

.likert li label {
	width: 100%;
}

form .buttons {
	margin: 30px 0;
	padding:0 4.25%;
	text-align: right;
}

form .buttons button {
	padding: 5px 10px;
	background-color: #67ab49;
	border: 0;
	border-radius: 3px;
}

.question2-buttons {
	font-family: 'Raleway', sans-serif;
}

.question2-answer {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: none;
	margin: 5px;
}

#liberal-lean {
	background-color: #0C1CBB;
	color: #FFFFFF;
	font-size: 20px;
}

#moderate-lean {
	color: #FFFFFF;
	font-size: 20px;
}

#conservative-lean {
	background-color: #E74C3C;
	color: #FFFFFF;
	font-size: 20px;
}



