body {
	font-family: 'Raleway', sans-serif;
	background: url('images/ricepaper2.png');
}

#idea-prompt {
	font-size: 50px;
	text-align: center;
}

.choose {
	margin-top: 50px;
	margin-bottom: 50px;
}

.idea {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: none;
	margin: 5px;
}

#liberal {
	background-color: #0C1CBB;
	color: #FFFFFF;
	font-size: 30px;
}

#moderate {
	color: #FFFFFF;
	font-size: 30px;
}

#conservative {
	background-color: #E74C3C;
	color: #FFFFFF;
	font-size: 30px;
}